a, button {
  color:inherit;
  text-decoration: none;
}
.main-bg {
  height: 300px;
  background: url(./img/bg.png) no-repeat center center;
  background-size: 100% 100%;
}
.product-box .product__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex:1 0 calc(100% / 3)
}

.sort-btn {display:flex;justify-content:center;margin-top: 20px;}
.sort-btn button {}

.start {opacity: 0;}
.end {opacity: 1;transition-duration: 0.3s;}